@using Microsoft.AspNetCore.Identity;
@using PiggyBank.Data;
@inject SignInManager<ApplicationUser> SignInManager

@{
    var user = await SignInManager.UserManager.GetUserAsync(User);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PiggyBank</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PiggyBank.styles.css" asp-append-version="true" />
</head>
<body class="bg-info d-flex flex-column justify-content-between">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PiggyBank</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark on-hover-underline" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark on-hover-underline" asp-area="" asp-controller="Home" asp-action="Privacy">О нас</a>
                        </li>

                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item ms-auto">
                                <a class="nav-link text-dark on-hover-underline" asp-area="" asp-controller="Category" asp-action="Index">Категории</a>
                            </li>
                            <li class="nav-item me-auto">
                                <a class="nav-link text-dark on-hover-underline" asp-area="" asp-controller="Transaction" asp-action="Index">Транзакции</a>
                            </li>
                        }

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 position-relative">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top pb-3 pt-2 text-muted bg-white">
        <div class="container d-flex justify-content-between">
            <div class="">
                &copy; 2023 - PiggyBank - <a asp-controller="Home" asp-action="Privacy" class="text-start">О нас</a>
            </div>
            @if (user != null)
            {
                <div>
                    <span class="fw-bold @(user.Balance < 0 ? "text-danger" : "text-success")">Ваш Баланс: @string.Format("{0:N0}", user.Balance) сум</span>
                </div>
            }
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
