@using Microsoft.AspNetCore.Identity
@using PiggyBank.Data;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark on-hover-underline" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Настройки</a>
        </li>
        <li class="nav-item">
            <button class="nav-link btn btn-link text-dark on-hover-underline" data-bs-toggle="modal" data-bs-target="#signoutModal">Выход</button>
            <div class="modal fade" id="signoutModal" tabindex="-1" aria-labelledby="signoutModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Выйти из аккаунта?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Несохраненные изменения могут сброситься.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="btn btn-primary">Да, выйти</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark on-hover-underline" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark on-hover-underline" asp-area="Identity" asp-page="/Account/Login">Вход в аккаунт</a>
        </li>
    }
</ul>
