html {
  font-size: 14px;
}

body {
    height: 100vh;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.on-hover-underline:hover {
    text-decoration: underline;
}

.nowrap {
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}

.pointer {
    cursor: pointer;
}
