@using Microsoft.AspNetCore.Identity;
@using PiggyBank.Data;
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <h1 class="display-4 text-white">Вы вошли в аккаунт!</h1>
        <p class="lead text-white">Tеперь вы можете использовать весь функционал приложения</p>
        <div class="btn-group mt-4">
            <a class="btn btn-lg btn-outline-light" asp-action="Index" asp-controller="Transaction">Перейти к транзакциям</a>
            <a class="btn btn-lg btn-outline-light" asp-action="Index" asp-controller="Category">Посмотреть категории</a>
        </div>
    }
    else
    {
        <h1 class="display-4 text-white">Вы не авторизированы.</h1>
        <p class="lead text-white">Для использования приложения нужно зарегистрироваться.</p>
        <div class="btn-group mt-4">
            <a class="btn btn-outline-light" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
            <a class="btn btn-outline-light" asp-area="Identity" asp-page="/Account/Login">Войти в аккаунт</a>
        </div>
    }
</div>
