@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-white">Немного информации о вебсайте</h1>

<p class="lead text-white col-md-6">Этот проект не являеется коммерческим и используется только для демонстрации навыков.</p>
