@model IEnumerable<Category>

<div class="row bg-white p-4 rounded-2 g-2 gx-2">
    <h1 class="text-center center">Ваши Категории</h1>
    <hr />

    @foreach (var category in Model)
    {
        <div class="col-md-4">
            @if (category.IsIncome)
            {
                <a class="btn btn-outline-success px-2 w-100 nowrap" asp-action="Edit" asp-controller="Category" asp-route-id="@category.Id">
                    <p class="lead d-inline">
                        @category.Name

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-square-fill text-success" viewBox="0 0 16 16">
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z" />
                        </svg>

                    </p>
                </a>
            }
            else
            {
                <a class="btn btn-outline-danger px-2 w-100 nowrap" asp-action="Edit" asp-controller="Category" asp-route-id="@category.Id">
                    <p class="lead d-inline">
                        @category.Name
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-square-fill text-danger" viewBox="0 0 16 16">
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z" />
                        </svg>
                    </p>
                </a>

            }
        </div>
    }

    <div class="col-md-4">
        <a class="btn btn-outline-primary px-2 w-100 nowrap" asp-action="Create" asp-controller="Category">
            <p class="lead d-inline">
                Добавить категорию
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill text-primary" viewBox="0 0 16 16">
                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
                </svg>
            </p>
        </a>
    </div>

</div>
