@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Подтверждение почты";
}

<div class="m-auto bg-white rounded-2 p-3">
    <h1 class="mb-3">@ViewData["Title"]</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</div>