@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Проверьте свою почту.";
}

<div class="bg-white rounded-2 p-3">
    <h1>@ViewData["Title"]</h1>
    <p>
        Мы отправили подтверждение на вашу почту. Перейдя по ссылку вы сможете сбросить пароль.
    </p>
</div>
